div.task-input-container
    label.task-label for="task"
        i class="fas fa-camera"
    input.task-input type="text" id="task" placeholder=input.placeholder maxlength="50" value=input.value on-keyup('handleTaskInput')